link(href="/bower_components/bootstrap/dist/css/bootstrap.css",rel="stylesheet")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/bootstrap/jquery/dist/jquery.min.js")
