extends ../layouts
block content
    .container
        .row
            form.form-horizontal(method="post",action="/admin/category/new")
                .form-group
                    label.col-sm-1.control-label(for="inputCategory") 電影分類 
                    .col-sm-9
                        input#inputCategory.form-control(type="text",name="category[name]",value="")
                 .form-group
                    button.btn.btn-primary(type="submit")送出