extends ../layouts
block content
    .container
        .row
            form.form-horizontal(method="post",action="/admin/movie/new")
                .form-group
                    label.col-sm-1.control-label(for="inputTitle")電影名字
                    .col-sm-9
                        input#inputTitle.form-control(type="text",name="title")
                .form-group
                    label.col-sm-1.control-label(for="inputTitle")導演
                    .col-sm-9
                        input#inputTitle.form-control(type="text",name="director")
                .form-group
                    label.col-sm-1.control-label(for="inputTitle")國家
                    .col-sm-9
                        input#inputTitle.form-control(type="text",name="nation")
                .form-group
                    label.col-sm-1.control-label(for="inputTitle")上映年份
                    .col-sm-9
                        input#inputTitle.form-control(type="text",name="year")
                 .form-group
                    label.col-sm-1.control-label(for="inputTitle")摘要
                    .col-sm-9
                        input#inputTitle.form-control(type="text",name="summary")
                 .form-group
                    .col-sm-9
                    button.btn.btn-primary(type="submit")確定
